// Mobile first
$mediaWidthMobileMini: 320px;
$mediaWidthMobile: 480px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthdesktop: 1200px;
$mediaWidthdesktopHd: 1800px;

//colors
$dark: #272324;
$grey: #4b4b52;
$white: #fff;
$lighter: #F4752C;
$lighter-l: #265879;
$light-grey: #C4C4C4;

//font-weights
$semi: 600;
$bold: 700;
$extra: 800;

//transitions
$slow: 0.1s;
$norm: 0.3s;
$fast: 0.5s;