extends ../common/layout

block variables
    -var title = "Аренда террас"

block content
  include ../common/hero-disinf
  include ../common/benefits
  include ../common/disinfection
  include ../common/service
  include ../common/rent
  include ../common/install
  include ../common/footer
  include ../includes/forms