extends ../common/layout

block variables
    -var title = "Главная"

block content
  include ../common/hero
  include ../common/benefits
  include ../common/install
  include ../common/service
  include ../common/rent
  include ../common/footer
  include ../includes/forms
      //- +imagePng("content/exmpl", "griffin", "griffin bird")
      //- +imageJpg("content/exmpl1", "griffin", "griffin bird")

block scripts