extends ../common/layout

block variables
    -var title = "Монтаж и демонтаж деревянных террас"

block content
  include ../common/hero
    //-   include ../common/slider
  include ../common/relax
    //-   include ../common/benefits
    //- include ../common/install
  include ../common/full
  include ../common/how-we-work
  include ../common/feedback
    //- include ../common/disinfection
    //- include ../common/service
    //- include ../common/rent
  include ../common/footer
  include ../includes/hero-forms
      //- +imagePng("content/exmpl", "griffin", "griffin bird")
      //- +imageJpg("content/exmpl1", "griffin", "griffin bird")

block scripts
    script(src="/assets/js/install.min.js")