extends ../common/layout

block variables
    -var title = "Обслуживание террас"

block content
  include ../common/hero-service
  include ../common/our-service
  //- include ../common/benefits
  //- include ../common/service
  //- include ../common/disinfection
  //- include ../common/install
  //- include ../common/rent
  .how-we-work-service
    include ../common/how-we-work
  .feedback-service
    include ../common/feedback
  include ../common/footer
  include ../includes/service-forms
  //- include ../includes/forms

block scripts
  script(src="/assets/js/service.min.js")