extends ../common/layout

block variables
    -var title = "Спасибо за заявку!"

block content
  include ../common/thanks
      //- +imagePng("content/exmpl", "griffin", "griffin bird")
      //- +imageJpg("content/exmpl1", "griffin", "griffin bird")

block scripts