-
  var disinfList = [
    "мойка террасы под давлением;",
    "обработка дезинфицирующим составом;",
    "парообработка поверхностей.",
  ]
section.disinf#disinf
  .container.container--disinf
    h2.title.disinf_title Профессиональная дезинфекция вашей террасы
    .disinf__content
      .disinf__image
        +imagePng("content/disinf", "disinf__img", "Дезинфекция террасы")
      ul.disinf__list
        each text in disinfList
          li.text.disinf__item=text
    +btnPrice("Дезинфицировать", "от 2 650 руб./кв.м.", "disinf", "button")