footer.footer
    .container.container--footer
        a.footer__logo(href="/")
            +imagePng("content/logo-white", "footer__logo","Логотип террасы в Москве")
        +socials("footer__socials")
        +phone("footer__phone")