-
  var fullList = [
    "подберем гармоничный дизайн-проект, который подойдет к стилистике Основных строений и дополнит ландшафт;",
    "самостоятельно доставим все материалы;",
    "установим террасу в срок до 7 дней;",
    "вывезем строительный мусор после всех работ;",
    "дадим гарантию по договору до 15 лет;",
    "обслужим террасу в любое время года."
  ]
section.full#full
  .full__wrap
    .container.container--full
      h2.title.full_title Создадим природный уголок на вашем участке &quot;под ключ&quot;:
      .full__content
        .full__image
          +imagePng("content/full", "full__img", "Монтаж террасной доски из лиственницы под ключ")
        ul.full__list
          each text in fullList
            li.text.full__item=text
      +btnPrice("Консультация", "от 2 650 руб./кв.м.", "full", "button")