section.hero-service#hero
  include ../includes/header
  .container.container--hero
    .hero__text
      h1.hero__title <span>Комплексное обслуживание,</span><br> <span>дезинфекция и ремонт террас </span><br> <span>в Москве и Московской области</span>
      .hero__desc 
        .hero__desc-title Вернём Вашей террасе первозданный вид:
          ul.hero__list
            li.hero__item.list-item Глубоко отмоем поверхности;
            li.hero__item.list-item Паром восстановим структуру материала;
            li.hero__item.list-item Уничтожим плесень и грибок;
            li.hero__item.list-item Заменим изношенные элементы;
            li.hero__item.list-item Восстановим цвет и защитим от паразитов.
        
      +btn('Консультация', 'service__btnCta', "button")

      a(href="#services").hero__arrow.animated.fadeInDown.infinite
        +icon('arrow-down', 'hero__arrow')