section.hero-rent
  include ../includes/header
  .container.container--hero
    .hero__text
      h1.hero__title <span>Аренда террас</span><br> <span>из лиственницы,</span><br> <span>с доставкой в москве и мо</span>
      span.hero__desc Монтаж, демонтаж, покраска, лакирование, обслуживание после зимы, мойка, аренда