section.hero-service
  include ../includes/header
  .container.container--hero
    .hero__text
      h1.hero__title <span>Обслуживание и ремонт</span><br> <span>террас в москве и мо</span>
      span.hero__desc 