.hero
  include ../includes/header
  .container.container--hero
    .hero__text
      h1.hero__title <span>Монтаж, Аренда,</span><br> <span>обслуживание террасс</span><br> <span>из лиственницы в москве и мо</span>
      h3.hero__desc Монтаж, демонтаж, покраска, лакирование, обслуживание после зимы, мойка, аренда