section.hero-rent#hero
  include ../includes/header
  .container.container--hero
    .hero__text
      h1.hero__title <span>ТЕРРАСА в аренду с доставкой</span><br> <span>и монтажом на любом участке </span><br> <span>в Москве и Московской области</span>
      .hero__desc 
        .hero__desc-title Терраса в аренду- это:
        ul.hero__list
          li.hero__item.list-item Отдых там, где удобно вам. Под любое мероприятие;
          li.hero__item.list-item Неожиданные локации: установим в любом месте в Москве и области;
          li.hero__item.list-item Доставка, сборка, разборка, вывоз-под ключ;
          li.hero__item.list-item Отсуствие следов эксплуатации- установим как новую;
          li.hero__item.list-item Срок от 1 до 30 дней;
          li.hero__item.list-item Доступная цена.
        
      +btn('Консультация', 'rent', "button")

      a(href="#rent-service").hero__arrow.animated.fadeInDown.infinite
        +icon('arrow-down', 'hero__arrow')