section.hero-disinf
  include ../includes/header
  .container.container--hero
    .hero__text
      h1.hero__title <span>Дезинфекция террас</span><br> <span>от всех видов вирусов</span><br> <span>в москве и мо</span>
      h3.hero__desc Быстро и качеественно