.hero#hero
  include ../includes/header
  .container.container--hero
    .hero__text
      h1.hero__title <span>МОНТАЖ ТЕРРАСЫ ИЗ&nbsp;СИБИРСКОЙ</span><br> <span>ЛИСТВЕННИЦЫ ПОД&nbsp;КЛЮЧ</span><br> <span>НА ВАШЕМ УЧАСТКЕ</span>
      .hero__desc 
        .hero__desc-title Наши террасы &quot;на Века&quot; потому, что:
        ul.hero__list
          li.hero__item.list-item Лиственница - природный бетон, не боится влаги и паразитов;
          li.hero__item.list-item Лиственница-не боится перепадов температур и не горит;
          li.hero__item.list-item Лиственница - в природе живет до 600 лет, не гниет и не&nbsp;синеет;
          li.hero__item.list-item Лиственница-экологична, имеет благородный вид, который не&nbsp;надоест со временем.
      
      +btn('Консультация', 'hero__btnCta', "button")

      a(href="#relax").hero__arrow.animated.fadeInDown.infinite
        +icon('arrow-down', 'hero__arrow')