section.hero-disinf
  include ../includes/header
  .container.container--hero
    .hero__text
      h1.hero__title <span>Дизинфекция террас</span><br> <span>от любых вирусов</span><br> <span>в москве и мо</span>
      span.hero__desc 