section.how-we-work#how-we-work
  .container.container--how-we-work
    h2.title.how-we-work__title КАК МЫ РАБОТАЕМ:
    .how-we-work__content
      ul.how-we-work__list.how-we-work__list--first
        li.how-we-work__item
          article.how-we-work__item-text Оставьте свой контакт на сайте или позвоните нам
          .how-we-work__item-icon
            +icon('arrow-right', 'how-we-work__item-icon-img')
        li.how-we-work__item
          article.how-we-work__item-text Мы подробно проконсультируем Вас
          .how-we-work__item-icon
            +icon('arrow-right', 'how-we-work__item-icon-img')
        li.how-we-work__item
          article.how-we-work__item-text Договоримся о времени и сроках встречи на&nbsp;строительном объекте
          .how-we-work__item-icon
            +icon('arrow-right', 'how-we-work__item-icon-img')
      ul.how-we-work__list.how-we-work__list--second
        li.how-we-work__item
          article.how-we-work__item-text Произведем замеры и&nbsp;разработаем проект террасы
          .how-we-work__item-icon
            +icon('arrow-right', 'how-we-work__item-icon-img')
        li.how-we-work__item
          article.how-we-work__item-text Произведем расчеты стоимости и сроков
          .how-we-work__item-icon
            +icon('arrow-right', 'how-we-work__item-icon-img')
        li.how-we-work__item
          article.how-we-work__item-text Заключим договор, пропишем гарантийный срок
          .how-we-work__item-icon
            +icon('arrow-right', 'how-we-work__item-icon-img')
      ul.how-we-work__list--third
        li.how-we-work__item
          article.how-we-work__item-text Возведем объект в&nbsp;соответствии с&nbsp;проектом

