section.our-service#our-service
  .container.container--our-service
    h2.title.our-service__title Мы восстанавливаем террасы с заботой о материале
    .our-service__description Поэтому применяем только современные инструменты и материалы.
    .our-service__content
      .our-service__desc 
        .our-service__desc-title В нашем арсенале:
        ul.our-service__list
          li.our-service__item.list-item Водяные мойки высокого давления- не создают трения, а значит не портят материал.
          li.our-service__item.list-item Парогенераторы с регулируемой подачей пара- устранят плесень и грибок глубже, чем пропитка.
          li.our-service__item.list-item Высокоточный электроинструмент- позволит точно подогнать заменяемые элементы.
          li.our-service__item.list-item Высококлассные восстанавливающие и защитные составы от Немецких производителей-восстановят структуру и сохранят декоративный слой на долгие годы.
      .our-service__slider
        include ./slider-service
    +btn("Консультация", "our-service")