section.relax#relax
  .container.container--relax
    h2.title.relax__title Мы создаем террасы для Вашего комфорта и отдыха:
    .relax__content
      .relax__desc 
        article.relax__text Проводите время с семьей, друзьями и близкими на свежем воздухе в экологичной обстановке природного аромата древесины- что может быть лучше?
      .relax__slider
        include ./slider