section.rent-service#rent-service
  .container.container--rent-service
    h2.title.rent-service__title Планируете мероприятие?
    .rent-service__description Просто хотите &quot;примерить&quot; террасу к своему дому?
    .rent-service__content
      .rent-service__desc 
        .rent-service__desc-title Предоставим в пользование под ключ на срок до 1 месяца:
        ul.rent-service__list
          li.rent-service__item.list-item Привезем, смонтируем и подготовим террасу под Ваше мероприятие: свадьбы, банкеты, юбилеи.
          li.rent-service__item.list-item Разберем и вывезем после.
      .rent-service__slider
        include ./slider-rent
    +btn("Консультация", "rent-service")