section.rent-service#rent-service
  .container.container--rent-service
    h2.title.rent-service__title Мы восстанавливаем террасы с&nbsp;заботой о&nbsp;материале
    .rent-service__description Поэтому применяем только современные инструменты и материалы.
    .rent-service__content
      .rent-service__desc 
        .rent-service__desc-title В нашем арсенале:
        ul.rent-service__list
          li.rent-service__item.list-item Водяные мойки высокого давления- не создают трения, а значит не портят материал.
          li.rent-service__item.list-item Парогенераторы с регулируемой подачей пара- устранят плесень и грибок глубже, чем пропитка.
          li.rent-service__item.list-item Высокоточный электроинструмент- позволит точно подогнать заменяемые элементы.
          li.rent-service__item.list-item Высококлассные восстанавливающие и защитные составы от Немецких производителей-восстановят структуру и сохранят декоративный слой на долгие годы.
      .rent-service__slider
        include ./slider-rent
    +btn("Консультация", "rent-service")