
.container--slider-rent
  ul#slides-rent
    li.slide-rent.showing
    li.slide-rent
    li.slide-rent
    li.slide-rent
  .buttons-rent
    button.controls-rent#next-rent
      +icon("arrow-right", "slider__arr-right")
    button.controls-rent#previous-rent
      +icon("arrow-left", "slider__arr-left")