
.container--slider-service
  ul#slides-service
    li.slide-service.showing
    li.slide-service
  .buttons-service
    button.controls-service#next-service
      +icon("arrow-right", "slider__arr-right")
    button.controls-service#previous-service
      +icon("arrow-left", "slider__arr-left")