
.container--slider
  ul#slides
    li.slide.showing
    li.slide
  .buttons
    button.controls#next
      +icon("arrow-right", "slider__arr-right")
    button.controls#previous 
      +icon("arrow-left", "slider__arr-left")