section.thanks
  include ../includes/header
  .container.container--thanks
    .thanks__content
      h1.title.thanks__title Спасибо за заявку!
      h3.thanks__text Скоро мы обязательно с Вами свяжемся.
      .forms__whatsapp
        a(href="https://api.whatsapp.com/send?phone=+79250906512&text=Здравствуйте!%20Хочу%20рассчитать%20стоимость%20террасы.").forms__whatsapp-link
          .forms__whatsapp-icon 
            +icon("whatsapp", "forms__whatsapp-icon-pic")
          .forms__whatsapp-text Написать в WhatsApp