- 
  var navList = [
    {
      name: "Монтаж",
      link: "/"
    },
    {
      name: "Дезинфекция",
      link: "/disinf.php"
    },
    {
      name: "Обслуживание",
      link: "/service.php"
    },
    {
      name: "Аренда",
      link: "/rent.php"
    }
  ]
nav.navigation
  ul.navigation__list
    each item in navList
      li.navigation__item
        a(href=`${item.link}` class="navigation__link")=item.name