- 
  var navList = [
    {
      name: "Монтаж",
      link: "/#install"
    },
    {
      name: "Обслуживание",
      link: "/#service"
    },
    {
      name: "Аренда",
      link: "/#rent"
    }
  ]
nav.navigation
  ul.navigation__list
    each item in navList
      li.navigation__item
        a(href=`${item.link}` class="navigation__link")=item.name