.hero {
  height: 100vh;
  background: url("/assets/img/content/service-bg.jpg") no-repeat;
  background-size: cover;
  
}

.hero-rent {
  height: 100vh;
  background: url("/assets/img/content/hero-rent-bg.jpg") no-repeat;
  background-size: cover;
  background-position-y: bottom;
}
.hero-disinf {
  height: 100vh;
  background: url("/assets/img/content/hero-disinf-bg.jpg") no-repeat;
  background-size: cover;
  background-position-y: bottom;
}
.hero-service {
  height: 100vh;
  background: url("/assets/img/content/hero-service-bg.jpg") no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.container--hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  font-family: "Trebuchet MS";
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  @include desktop {
    font-size: 40px;
  }
  @include tablets-hor {
    font-size: 30px;
  }
  & span {
    background-color: rgba($dark, 0.85);
  }
}

.hero__desc {
  display: block;
  font-size: 18px;
  text-align: center;
  width: 52%;
  color: $white;
  background-color: rgba($dark, 0.85);
  
}