.navigation__list {
  display: flex;
  justify-content: space-around;

  @include tablets {
    // margin-top: 100px;
    flex-direction: column;
    align-items: center;
  }
  
}

.navigation__item {
  @include tablets {
    margin: 40px 0;
  }
  
}

.navigation__link {
  font-weight: $bold;
  text-transform: uppercase;
  color: $white;
  border-bottom: 1px dashed $white;
  transition: color $norm, border-color $norm;
  
  &:hover {
    color: $lighter;
    border-bottom: 1px dashed $lighter;
  }
  
  @include tablets-hor {
    font-size: 13px;
  }
  @include tablets {

    font-size: 20px;
  }
}