.service {
  background: url("/assets/img/content/hero-bg.jpg") no-repeat;
  background-size: cover;
  padding: 0;
}

.service__wrap {
  background-color: rgba($dark, 0.9);
  padding: 100px 0;
}

.service__title {
  margin: 0;
  color: $lighter;
}

.service__list {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
  }
}

.service__item {
  max-width: 30%;
  color: $white;
  @include phones {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

.service__item-title {
  margin-top: 15px;
  font-weight: $bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.service__desc {
  margin-top: 10px;
  color: $light-grey;
  font-size: 16px;
}

.service__listItem {
  margin-top: 15px;
}

.service__listItem-item {
  font-size: 16px;
  color: $light-grey;
  position: relative;
  margin: 5px 0 5px 20px;

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $lighter;
    left: -10px;
    top: 8px;
  }
}

.service__image-pic {
  width: 100%;
}

.service__link {
  color: $lighter;
  border-bottom: 1px solid $lighter;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  display: flex;
  width: fit-content;
  transition: $norm;

  &:hover {
    color: $grey;
    border-color: $grey;
  }
}

.btn-price--service {
  margin-top: 40px;
}

.btn-price__price--service {
  color: $white;
}
